---
layout: default
redirect_from: "/404.html"
---

<div class="container" id="sidebarslot">
  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
    {% include sidebar.html %}
  </div>
</div>

<div class="home container">

  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">

  </div>
  <div class="col-lg-9 col-md-9 col-sm-8 col-xs-8">

    <h2 id="meet-shreshth">Meet Shreshth</h2>

    <p>Shreshth is an aspiring theatre director, scenic designer, writer, and also a website designer. (Wow to hyphenated vocations!)</p>
    <p>He likes realism in his theatre and passes on the sugar in his coffee. He can recite the first sonnet of <i>The Golden Gate</i> by Vikram Seth at command. He thinks a lot about mythology and folklore and wants to bring that to his art. (He's been trying to produce a magical realism podcast to this effect; maybe you can help him out?)</p>
    {% include image.html url="/images/bench-li.jpg" caption="Spotted on a bench by a coffee shop;<br>To say hello, won't you stop?" %}
    <p></p>

    <h2 id="theatre-positions">Theatre Positions</h2>

    <p>Shreshth likes to think he's done a lot of theatre. In reality, he's been in a bunch of college shows that he's been proud of. Here are some things he's done outside college.</p>
      <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Documentation Intern, <a href="http://katkatha.org/">Katkatha Puppet Arts Trust</a>, New Delhi, August 2016</h4>
      <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Co-founder, Paper Faces Theatre, Kolkata, 2011</h4>
    <p>And here are some interesting thing he did while in college.</p>
      <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Chair, PenNaatak Theatre, University of Pennsylvania, Philadelphia, 2014-2015 and 2015-2016 seasons</h4>
      <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Board Member, One Acts Festival, University of Pennsylvania, Philadelphia, 2014 and 2015</h4>

    <h2 id="direction">Direction</h2>
      <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Director, <i>Red</i> by John Logan, Philadelphia, April 2016</h4>
      <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Director, <i>Taramandal</i> by Neel Chaudhuri, Philadelphia, November 2013</h4>

    <h2 id="scenic-design">Scenic Design</h2>
      <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Scenic Designer, <i>The Who &amp; The What</i> by Ayad Akhtar, Philadelphia, Spring 2015</h4>
      <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Scenic Designer, <i>Tara</i> by Mahesh Dattani, Philadelphia, Fall 2015</h4>
      <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Scenic Designer and Stage Manager, <i>Bengal Tiger at the Baghdad Zoo</i> by Rajiv Joseph, Philadelphia, Spring 2014</h4>

    <h2 id="coursework">Notable Coursework</h2>
      <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Advanced Scenic Design and Drafting (Independent Study with Professor Peter Whinnery) — University of Pennsylvania, Spring 2016</h4>
      <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Concepts of Lighting Design — University of Pennsylvania, Fall 2014</h4>
      <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Concepts of Scenic Design — University of Pennsylvania, Spring 2013</h4>

    <h2 id="contact">Contact</h2>
    <p>Make art with Shreshth. Ask him to design your website. Get coffee with him. <br>Find him on Facebook, Instagram, or just email him.</p>
  </div>

</div>
