---
layout: default
redirect_from: "/404.html"
---

<div class="container">
  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4" id="sidebarslot">
    {% include sidebar.html %}
  </div>
</div>

<div class="home container">

  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">

  </div>
  <div class="col-lg-9 col-md-9 col-sm-8 col-xs-8">

    <h2 id="hi">Hi</h2>

    <p>Hi, I'm Shreshth (pronounced: sh-ray-sh-T). I'm an aspiring theatre director, scenic designer, writer, and also a website designer. (Wow to hyphenated vocations!)</p>
    <p>I like realism in my theatre and I pass on the sugar in my coffee. I can recite the first sonnet of <i>The Golden Gate</i> by Vikram Seth at command. I think a lot about mythology and folklore and want to bring that to my art. (I've been trying to produce a magical realism podcast to this effect; maybe you can help me out?)</p>
    {% include image.html url="/images/bench-li.JPG" site="y" caption="Spot me on a bench by a coffee shop;<br>To say hello, won't you stop?" %}
    <p></p>

    <h2 id="theatre-positions">Theatre Positions</h2>

    <p>Here are some positions I've held in organizations that I'm particularly proud of. </p>
      <h4>Documentation Intern, <a href="http://katkatha.org/">Katkatha Puppet Arts Trust</a>, New Delhi, August 2016</h4>
      <p>Katkatha is a puppet theatre group in India. Their contemporary form of puppetry is based on the principle that the puppeteer can breathe life into any object and turn it into a puppet. At the same time, they draw from Bunraku, Togalu Gombeyaata, Kalaripayattu, and other traditional techniques of puppetry and movement.</p>
      <p>I worked with them the summer after graduating from college and helped them document the development of their newest show, an adaptaion of the <i>Mahabharata</i>. I shadowed their rehearsals; learned about puppetry, movement, folklore; took photographs; wrote a blog for them; and designed a website for them.</p>
      <p>Read the <a href="{{ site.url }}/KatkathaMahabharata">blog</a> in which I compare them to Cézanne.</p>
      {% include image.html url="/images/katkatha.JPG" site="y" caption="Katkatha depicts the death of Abhimanyu,<br>With choreography inspired by Kalaripayattu." %}
      <p></p>

      <h4>Chair, PenNaatak Theatre, University of Pennsylvania, Philadelphia, 2014-2015 and 2015-2016 seasons</h4>
      <p>Being on the board of a theatre group for three years (chair for two) gave me a lot of insight into the work it takes to actually put a show together. The vision I had for creating a space to bring new shows from all around the globe to Penn brought us to open Naatak's mission statement up. By the time I graduated, PenNaatak went from being Penn's South Asian theatre group to Penn's only Global Contemporary theatre group.</p>

      <h4>Board Member, One Acts Festival, University of Pennsylvania, Philadelphia, 2014 and 2015</h4>
      <p>Penn's One Acts Festival was a great platform to encourage people to try new things and I was happy to be a part of it as Tech Director in 2014 and as Vice Chair and Assistant Producer in 2015.</p>

      <h4>Co-founder, Paper Faces Theatre, Kolkata, 2011</h4>
      <p>I took a year off before heading to college and worked with two extremely talented friends to start a little theatre company in Kolkata. Together, we produced and directed two shows: Stephen Sondheim's <i>Sweeney Todd</i> in 2011 and Neel Chaudhuri's <i>Taramandal</i> in 2012.</p>

    <h2 id="direction">Direction</h2>
      <h4>Director, <i>Red</i> by John Logan, Philadelphia, April 2016</h4>
      <p>Easily the show I'm most proud of having worked on, <i>Red</i> was an experiment in realism and intimacy. I wanted to talk about art without distancing the viewer from the creation and the creative process. So, with a team of wonderfully talented actors and designers, we invited the audience into Penn's wood shop, which we turned into Mark Rothko's studio.</p>
      <p>Working in a four-person rehearsal room gave us the flexibility to really dig in to character early on in the process. We worked to build a general narrative arc, and specific character arcs. As the director, I then helped usher all the elements to come together and contribute to that vision. If we had conersations about the cyclic nature of art, I'd think of how that could be incorporated in the physicality of the actors, in the lighting changes, in the costumes. </p>
      {% include image.html url="/images/red-fine.jpg" site="y" caption="\"Fine?\"" %}
      {% include imageright.html url="/images/red-ken.jpg" site="y" caption="\"They're just paintings!\"" %}
      <p></p>
      <h4>Director, <i>Taramandal</i> by Neel Chaudhuri, Philadelphia, November 2013</h4>
      <p></p>

    <h2 id="scenic-design">Scenic Design</h2>
      <h4>Scenic Designer, <i>The Who &amp; The What</i> by Ayad Akhtar, Philadelphia, Spring 2015</h4>
      <p>Ayad Akhtar's show about a Pakistani family in Atlanta made me think about the art and architecture choices of the father, a middle-aged Pakistani immigrant, versus the younger Eli, a white Muslim convert raised on Malcolm X's teachings. This made me explore and contrast their generational and class differences through the scenic design.</p>
      {% include image.html url="/images/whowhat-1.jpg" site="y" caption="Elaborate Islamic patterns are attempted; <br>The father's house is well presented." %}
      {% include imageright.html url="/images/whowhat-2.JPG" site="y" caption="Eli and Zarina's house is in similar element; <br>Painted on arch, on tiles no money is spent." %}
      <p></p>
      <h4>Scenic Designer, <i>Tara</i> by Mahesh Dattani, Philadelphia, Fall 2015</h4>
      <p>I for some reason never found the time to take pictures of this set, although it was one of my favorites. A corrupt administration represented by a doctor always on stage was given a ten-foot high pedestal to tower over the characters stuck in a Kafkaesque system. The floor was painted with a false shadow of the wooden frame of the ten-foot platform. The doctor has left after the surgery to seperate the twins, but the scars can never leave the life of the characters Tara and Chandan.</p>
      <h4>Scenic Designer and Stage Manager, <i>Bengal Tiger at the Baghdad Zoo</i> by Rajiv Joseph, Philadelphia, Spring 2014</h4>
      <p>Rajiv Joseph is one of my favorite playwrights. The director wanted to talk about the spirituality and sanctity of human life within this war torn city. The scenic design represented that by putting a carpeted mosque-like are within elements of grime, concrete, graffitied walls.</p>
      {% include image.html url="/images/bengal-2.jpg" site="y" caption="A spiritual carpetted space <br>With topiary animals in your face." %}
      {% include imageright.html url="/images/bengal-3.jpg" site="y" caption="Surronded by a wall with graffiti, <br>Bringing order to the war-torn city." %}
      <p></p>

    <h2 id="coursework">Notable Coursework</h2>
      <h4>Advanced Scenic Design and Drafting (Independent Study with Professor Peter Whinnery) — University of Pennsylvania, Spring 2016</h4>
      <h4>Concepts of Lighting Design — University of Pennsylvania, Fall 2014</h4>
      <h4>Concepts of Scenic Design — University of Pennsylvania, Spring 2013</h4>

    <h2 id="pablo">A Cubist Art-Dog</h2>
    {% include image.html url="/images/pablo.png" site="y" caption="Meet our new pet, we named him Pablo;<br>
      He'd really like to have some tea. <br>
      You might say that he looks real low, <br>
      But here's my word; a prophecy: <br>
      In his life children will maim him, <br>
      Ministers high up will name him,<br>
      Fellow art-dogs will isolate<br>
      Until he says, “I'm sad of late.”<br>
      On the road he stands, barks (it's dawn).<br>
      Tears wash down from his doggy eyes;<br>
      Tired, trying, he looks down and sighs,<br>
      “One day all art-dogs will be gone.”<br>
      Anyway, he’s at home drinking tea.<br>
      Come chill with him, he’s here with me." %}
    <p></p>

    <h2 id="gallery">Gallery</h2>
    {% include image.html url="/images/tbe.jpg" site="y" caption="<i>The Bluest Eye</i><br>African American Arts Alliance,<br>Philadelphia, Fall 2014<br>Scenic Design" %}
    {% include image.html url="/images/taramandal-2.jpg" site="y" caption="<i>Taramandal</i><br>Paper Faces<br>Kolkata, 2012<br>Production Design" %}
    {% include image.html url="/images/sweeney-1.jpg" site="y" caption="<i>Sweeney Todd</i><br>Paper Faces<br>Kolkata, 2011<br>Production Design" %}
    {% include image.html url="/images/sweeney-2.jpg" site="y" caption="<i>Sweeney Todd</i><br>Paper Faces<br>Kolkata, 2011<br>Production Design" %}
    <p></p>

    <h2 id="contact">Contact</h2>
    <p>Quick! Make art with me, <br>Or soon I'll be across the sea.</p>
    <p>Let me design your website, <br>Payment in friendship? Accept I might.</p>
    <p>Follow me on <a href="https://instagram.com/shreshthkhilani" target="_blank">Instagram</a>, <br>Subscribe to my mailing list below. <br>I'm still in New York, fam; <br>Maybe <a href="mailto:shreshth.khilani@gmail.com">email me</a> before I go?</p>

  </div>

</div>
