<!--
    This component generates a card with post details.
    Arguments:
        - postUrl
        - postImg
        - postTitle
        - postPosition
        - postYear
-->

<link rel="stylesheet" href="/css/card.css">

<a href="{{ include.postUrl }}" class="postLink">
    <div class="postcardwrapper">
        <div class="postcard">
            <img class="cardImg" src="{{ include.postImg }}">
        </div>
        <div class="overpostcard" align="center">
            <br>
            <h3 class="cardH">{{ include.postTitle }}</h3>
            {% if include.postPosition %}
                <p>{{ include.postPosition }}&nbsp;&nbsp;({{ include.postYear }})</p>
            {% endif %}
            {% if include.postProduction %}
                <p>{{ include.postProduction }}</p>
                <p>{{ include.postDate | date: "%B %-d, %Y" }}</p>
            {% endif %}
        </div>
    </div>
</a>