<div id="footer">
	<div class="container" align="left">
		<div class="col-xs-6">
			<p id="footerp">
				This is Shreshth's theatre portfolio; <br>
				I like to believe that I'm a theatre artist and a web developer.
			</p>
		</div>
		<div class="col-xs-6" align="right">
			<form action="https://tinyletter.com/shreshth" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/shreshth', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true" class="form-inline">
			 	<div class="form-group">
			    <p id="footerp">Sign up for my TinyLetter;&nbsp;&nbsp;&nbsp;&nbsp;<br>If it's sparse right now, it can only get better.&nbsp;&nbsp;&nbsp;&nbsp;</p>
			  </div>
			  <div class="form-group mx-sm-3">
			    <label for="tlemail" class="sr-only">Email</label>
			    <input type="text" class="form-control" placeholder="email@example.com" name="email" id="tlemail">
			  </div>
			 	<input type="hidden" value="1" name="embed"/>
			  <button type="submit" class="subscribeBtn">Subscribe</button>
			 </form>
         
<!-- 			<p id="footerp">
				Say hello: <a href="mailto:shreshth.khilani@gmail.com" class="postlink">shreshth.khilani@gmail.com</a>.
			</p> -->
		</div>
	</div>
</div>