<div id="header" class="boxshadow">
<!-- <div class="container" align="center">
	<h1>
		<a href="/" id="shreshth">
				Shreshth Khilani
		</a>
	</h1>
</div> -->
<!-- <div id="nav">
	<h5><a href="/" id="homeNavItem" class="navItem">HOME</a></h5>
	<h5><a href="/projects" id="projectsNavItem" class="navItem">PROJECTS</a></h5>
	<h5><a href="/about" id="aboutNavItem" class="navItem">ABOUT</a></h5>
</div> -->
<div id="navbar">
	<h1><a href="/" id="homeNavItem" class="navItem navItemActive">Shreshth Khilani</a></h1>
	<h5><a href="/" id="aboutNavItem" class="navItem">ABOUT</a></h5>
	<h5><a href="/projects" id="projectsNavItem" class="navItem">PROJECTS</a></h5>
</div>
</div>