<head>
	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

	<!-- Style -->
	<link href='https://fonts.googleapis.com/css?family=Josefin+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/style.css">

	<!-- jQuery for Bootstrap -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<script src="{{ site.baseurl }}/js/sidebar.js"></script>

	<!-- Favicon -->
	<link rel="shortcut icon" href="{{ site.baseurl }}/images/favicon.png"> 


	<meta property="og:title" content="Shreshth Khilani">
	<meta property="og:site_name" content="Shreshth Khilani">
	<meta property="og:url" content="http://shreshthkhilani.com">
	<meta property="og:image" content="http://shreshthkhilani.com/images/bench-li.JPG">
	<meta property="og:type" content="article">
	<meta property="og:description" content="This is my theatre portfolio; I like to believe that I'm a theatre artist and a web developer.">
	<meta property="fb:app_id" content="352160068538353"/>
	<meta property="fb:admins" content="shreshth.khilani"/>


	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>