<div id="sidebar">
  <div id="sidebarhead">
    <h2>Contents</h2>  
  </div>

  <h4 class="sidebaritle">
    <a class="postlink" href="#meet-shreshth">Meet Shreshth</a>
  </h4>
  <h4 class="sidebaritle">
    <a class="postlink" href="#theatre-positions">Theatre Positions</a>
  </h4>
  <h4 class="sidebaritle">
    <a class="postlink" href="#direction">Direction</a>
  </h4>
  <h4 class="sidebaritle">
    <a class="postlink" href="#scenic-design">Scenic Design</a>
  </h4>
  <h4 class="sidebaritle">
    <a class="postlink" href="#coursework">Notable Coursework</a>
  </h4>
  <h4 class="sidebaritle">
    <a class="postlink" href="#contact">Contact</a>
  </h4>
  <br>
  <h4 class="sidebaritle" align="center">
    <a class="postlink" href="#header"><span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span></a>
  </h4>

</div>