<div id="sidebar" hidden>
  <div id="sidebarhead">
    <h2>Contents</h2>  
  </div>

  <h4 class="sidebaritle">
    <a class="postlink"><span id="hi-link">Hi</span></a>
  </h4>
  <h4 class="sidebaritle">
    <a class="postlink"><span id="theatre-positions-link">Theatre Positions</span></a>
  </h4>
  <h4 class="sidebaritle">
    <a class="postlink"><span id="direction-link">Direction</span></a>
  </h4>
  <h4 class="sidebaritle">
    <a class="postlink"><span id="scenic-design-link">Scenic Design</span></a>
  </h4>
  <h4 class="sidebaritle">
    <a class="postlink"><span id="coursework-link">Notable Coursework</span></a>
  </h4>
  <h4 class="sidebaritle">
    <a class="postlink"><span id="pablo-link">A Cubist Art-Dog</span></a>
  </h4>
  <h4 class="sidebaritle">
    <a class="postlink"><span id="gallery-link">Gallery</span></a>
  </h4>
  <h4 class="sidebaritle">
    <a class="postlink"><span id="contact-link">Contact</span></a>
  </h4>
  <h4 class="sidebaritle">
    <a class="postlink" href="{{ site.url }}{{ site.baseurl }}/assets/resume.pdf" target="_blank">Résumé</a>
  </h4>
  <br>
  <h4 class="sidebaritle" align="center">
    <a class="postlink"><span class="glyphicon glyphicon-menu-up" id="backtotop" aria-hidden="true"></span></a>
  </h4>

</div>