html, body {
	min-height: 100%;
	height:100%;
	width: 100%;
	font-family: "Lato", sans-serif;
}

h1, h2, h3, h4, h5 {
	font-family: "Josefin Sans", sans-serif;
}

p {
	font-size: 11pt;
	line-height: 16pt;
	margin-bottom: 16pt;
	margin-top: 0pt;
	display: block;
	clear: both;
}

#content {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.postlink, .postlink:hover, .postlink:visited, .postlink:active {
	color: #ff4c38;
}

.activepostlink, .activepostlink:hover, .activepostlink:visited, .activepostlink:active {
	color: #333 !important;
}

#shreshth, #shreshth:hover, #shreshth:visited, #shreshth:active {
	color: #fff;
	text-decoration: none;
}

#header {
	background-color: #333;
	border-top: 6px solid #ff4c38;
	color: #fff;
	padding-top: 32px;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1000;
	width: 100%;
}

#nav {
	padding-top: 16px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#navbar {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.navItem, .navItem:visited, .navItem:active {
	color: #777;
	text-decoration: none;
	margin-left: 12px;
	margin-right: 12px;
}

#navbar > h1 {
	margin-right: 32px !important;
}

#navbar > h5 {
	margin-top: 18px;
}

.navItemActive, .navItem:hover {
	color: #fff !important;
	text-decoration: none;
}

#footer {
	padding-top: 16px;
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 16px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #333;
}

.footerImg {
	width: 24px;
	height: 24px;
	margin-left: 4px;
	margin-right: 8px;
	margin-top: -14px;
	margin-bottom: 2px;
}

.footerImg:hover {
	width: 28px;
	height: 28px;
	margin-left: 2px;
	margin-right: 6px;
	margin-top: -12px;
	margin-bottom: 0;
}

.imgColorInvert {
	-webkit-filter: invert(1);
   filter: invert(1);
}

.footerLeftItem {
	display: inline-block;
}

#footerLeftItemP {
	margin-left: 16px;
}

#footerp {
	color: #fff;
	font-size: 9pt;
	line-height: 12pt;
	margin-top: 12pt;
	margin-bottom: 12pt;
}

#mainbody {
	width: 100%;
	margin-top: 112px;
	flex: 1;
}

.postimage, .postimageright {
	display: inline-block;
	max-width: 70%;
  margin-bottom: 16pt;
  max-height: 500px;
}

.postcaption, .postcaptionright {
	display: inline-block;
	max-width: 21%;
	margin-left: 3%;
	margin-right: 3%;
	font-size: 9pt;
	line-height: 12pt;
	margin-top: 12pt;
	color: #777777;
}

.postimage, .postcaption {
	float: left;
	margin-left: 3%;
}

.postimageright, .postcaptionright {
	float: right;
	margin-right: 3%;
	text-align: right;
}

#sidebarhead {
	text-align: center;
}

#sidebar {
	padding-left: 10%;
	padding-right: 10%;
}

#sidebarslot {
	position: fixed;
}

.subscribeBtn {
	background-color: #333;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 4px;
	height: 34px;
	cursor: pointer;
	padding-left: 8px;
	padding-right: 8px;
}

.subscribeBtn:hover {
	background-color: #fff;
	color: #333;
}

#start:hover, #backtotop:hover {
	font-size: 136%;
}

.artistStatement {
	min-height: 100%;
}

a > span {
	cursor: pointer;
}

.carousel-item {
	background-color: #333;
	max-height: 600px !important;
}

.carouselImg {
	width: 100% !important;
}

.boxshadow {
	box-shadow: 0 1.6em 0 -1em #777777;
}

.siteImg {
	width: 100%;
}

.flexRow {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding-left: 2%;
	padding-right: 2%;
	width: 100%;
	padding-bottom: 32px;
	padding-top: 16px;
}

.flexItem {
	width: 50%;
	padding-right: 2%;
	padding-left: 2%;
}
