---
layout: default
---
<link rel="stylesheet" href="/css/post.css">
<link rel="stylesheet" href="/css/card.css">
<div class="container">
    <br>
    <p><a href="/reviews"><span aria-hidden="true">&lt;</span> Back to Reviews</a></p>
    <div align="center">
        <h2>{{ page.title }}</h2>
    </div>
    <img src="{% if page.img %}{{ page.img }}{% endif %}" id="postimg">
    <div class="row">
        <div class="col-sm-4 offset-sm-4" align="center">
            <h5>
                <small style="color: #777777;">
                    {% if page.author %}
                        {{ page.author }}
                    {% else %}
                        Shreshth Khilani
                    {% endif %}
                    &nbsp;&nbsp;
                    {{ page.date | date: "%B %-d, %Y" }}
                </small>
            </h5>
        </div>
        <div class="col-sm-10 offset-sm-1">
            <div id="posttxt">
                {{ content }}
            </div>
        </div>
    </div>
    <p><a href="/reviews"><span aria-hidden="true">&lt;</span> Back to Reviews</a></p>
</div>
